.seller-pagination {
  border-radius: 2px;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
