@mixin table {
  border-radius: 2px;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
}

.seller-product-view-page__table-wrapper {
  margin: 1rem 1rem 1rem 0rem;
  height: 80%;
  width: 100%;

  .seller-product-view-page__table {
    @include table;
    height: 10%;
    width: 100%;
    thead {
      border-bottom: 1px solid #ededed;
    }
    .first-column {
      padding-left: 2rem;
    }
    th {
      color: #acacac;
      font-size: 12px;
      font-weight: bold;
    }
    td {
      font-size: 14px;
      line-height: 20px;
    }

    tr:nth-child(even) {
      background-color: #f6f6f6;
    }

    .table-row {
      white-space: nowrap;
    }
    .col-name {
      width: 30%;
    }
    .col-sold {
      width: 13%;
    }
    .col-create-at {
      width: 20%;
    }
    .col-profit {
      width: 15%;
    }
    .col-action {
      width: 7%;
      font-weight: 600;

      .order-status-dropdown {
        position: relative;
        display: inline-block;

        .order-status-dropdown__contents {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 12px 16px;
          z-index: 1;
          left: -200%;

          div:hover {
            background-color: #ededed;
            cursor: pointer;
          }
          .icon {
            margin-right: 1rem;
          }
        }
      }
      .order-status-dropdown:hover .order-status-dropdown__contents {
        display: block;
      }
    }
  }
}
