.cart-wrapper {
  display: inline;
  position: relative;
  padding-top: 10px;

  .icon-shopping-cart {
    position: relative;
  }

  &__cart-counter {
    background-color: var(--color-btn-active);
    border: 2px solid var(--color-btn-active);
    border-radius: 50%;
    color: white;
    font-size: 10px;
    height: 18px;
    left: 7px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 18px;
  }
}
