.seller-product-view-page {
  flex: 0 1 85%;
  position: relative;
  margin: 0px 1rem 0px 1rem;

  .seller-product-view-page__title {
    font-size: 28px;
    font-weight: bold;
    height: 10%;
    display: flex;
    align-items: center;
  }
}
