.checkout-page {
  font-family: var(--ff-primary);
  margin: 1% 10%;
  height: 70vh;

  .checkout-legend {
    font-size: 24px;
    font-weight: 500;
    height: 10%;
  }

  .cart-panel {
    height: 90%;

    display: flex;

    .cart-preview {
      flex: 0 1 70%;
      overflow-y: auto;
      overflow-x: auto;

      display: flex;
      flex-direction: column;

      .cart-preview__header {
        display: flex;
        height: 5%;
        font-size: 14px;
        font-weight: bold;
        position: sticky;
        top: 0;
        margin-bottom: 2%;

        .product {
          flex: 0 1 30%;
        }
        .color {
          flex: 0 1 15%;
          text-align: center;
        }
        .size {
          flex: 0 1 15%;
          text-align: center;
        }
        .quantity {
          flex: 0 1 20%;
          text-align: center;
        }
        .amount {
          flex: 0 1 20%;
          text-align: center;
        }
      }

      .cart-preview__items {
        flex: 0 1 100%;

        display: flex;
        flex-direction: column;
      }
      .cart-item > * {
        border: 1px solid gray;
      }
    }
    // checkout window css
  }
}
