.menu-item {
  font-family: var(--ff-primary);
  font-weight: bold;
  min-width: 23%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 7.5px 15px;
  background-size: cover;
  background-position: center;

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .content {
    width: 100%;
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__cover-link {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__cover-link {
      text-decoration: none;
    }

    &__title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 24px;
      border-bottom: 2px solid #eaeaea;
      padding: 0px 1rem;
      color: white;
      width: 100%;
      text-align: center;
    }

    &__subtitle {
      font-weight: bold;
      font-size: 13px;
      color: white;
      padding: 10px;
      background-color: var(--color-btn-active);
    }
  }
}
