.nav-list {
  font-family: var(--ff-primary);
  position: absolute;
  color: #202124;
  font-size: 14px;
  top: 30px;
  left: -120%;
  background-color: #fbfbfb;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
  border: solid 0.5px #eaeaea;

  & > a {
    color: var(--color-font);
    margin: 1vw;
    line-height: 22px;
  }
  & > a:hover {
    text-decoration: none;
  }
}
