.seller-order-page {
  flex: 0 1 85%;
  position: relative;
  margin: 0px 1% 0px 1%;

  .seller-order-page__title {
    font-size: 28px;
    font-weight: bold;
    height: 10%;
    display: flex;
    align-items: center;
  }
}
