@mixin box-shadow {
  border-radius: 2px;
  border: solid 1px #ededed;
  background-color: white;
  height: 100%;
}
@mixin center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.seller-order-page {
  background-color: peru;
  flex: 0 1 85%;
  position: relative;
  margin: 0px 1% 0px 1%;
  background-color: lightskyblue;
  border: 1px solid black;

  .seller-order-page__title {
    font-size: 28px;
    font-weight: bold;
    height: 10%;
    display: flex;
    align-items: center;
    border: 1px solid black;
  }

  .seller-order-page__table-sorters {
    border: 1px solid black;
    height: 7%;
    align-items: center;
    font-size: 14px;

    display: flex;

    .seller-order-page__table-sorters__title {
      font-size: 12px;
      font-weight: bold;
      color: #acacac;

      flex: 0 1 10%;
    }
    .seller-order-page__table-sorters__calendar-input {
      @include box-shadow;
      @include center;
      flex: 0 1 20%;
    }
    .seller-order-page__table-sorters__today-input {
      @include box-shadow;
      @include center;
      flex: 0 1 7%;
    }
    .seller-order-page__table-sorters__yesterday-input {
      @include box-shadow;
      @include center;
      flex: 0 1 8%;
    }

    .seller-order-page__table-sorters__input-field {
      position: relative;
      margin-left: auto;
      margin-right: 1rem;
      flex: 0 1 20%;

      .seller-order-page__table-sorters__input {
        color: #202124;
        width: 100%;
        padding: 0.9rem 0.5rem 0.7rem 2.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 16px;
        @include box-shadow;
      }

      .icon-searchbar {
        opacity: 0.7;
        position: absolute;
        left: 0;
        padding: 1.2rem 14px;
      }
    }

    .seller-order-page__table-sorters__exports {
      @include box-shadow;
      @include center;
      flex: 0 1 8%;
      color: var(--color-btn-active);
    }
  }
}
